<h2><%= @artist.first_name + " " + @artist.last_name %></h2>
<p>Nationality: <%= @artist.nationality %></p>
<p>Period: <%= @artist.period %></p>
<p>DOB: <%= @artist.date_of_birth %></p>
<%= image_tag(@artist.image) %>

