<p>
  <a href="/posts/new">Add posts</a>
</p>

<ul>
<% @posts.each do |post| %>
  <li style="line-height: 3em;">
    <strong><%= post["title"] %></strong>
    <% if post["published_at"] %>
    (Published at: <%= post["published_at"] %>)
    <% end %>

    <% if post["author_first_name"] %>
    <em>Assigned to: <%= post["author_first_name"] + " " + post["author_last_name"] %></em>
    <% end %>

    <span style="background: #bbb; padding: 10px;">(Actions: <a href="/posts/<%= post["id"] %>/edit">Edit</a> |
    <form action="/posts/<%= post["id"] %>" method="POST" style="display: inline;">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Destroy">)
    </form></span>
  </li>
<% end %>
</ul>